.header {
    margin: 25px;
}

.header h1 {
    font-size: 1.4rem;
    text-align: center;
}

.actions {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 200;
    display: flex;
    align-items: center;
    gap: 5px;
    background: white;
    backdrop-filter: blur(4px);
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.container {
    max-width: 600px;
    margin: 40px auto;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.4rem;
}